html,
body {
  background: #000;
}

.tab-name {
  font-size: 30px;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  color: white;
  place-items: center;
  gap: 1rem;
  margin: 0.5rem;
}

@media (max-width:700px) {
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:600px) {
  .home-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
