.card {
	width: 100%;
	border: 2px solid #8B451380;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;

	/* grid-template-rows: 5fr 1fr; */
	margin: 0.5rem;
	padding: 0.5rem;
	gap: 1rem;
	place-content: center;
	transition: border 0.5s ease-in-out;
}

.card div image {
	border-radius: 1rem;
}


.card:hover {
	border: 2px solid #8B4513;
}
